/* Main Content Area Styles */
.mainContentArea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: auto;
  width: 100vw;
}

.mainContentArea .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Styles */
.bookingForm {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 100%;
}

/* Form Select Styles */
.bookingForm select {
  padding: 0.7rem;
  border: 2px solid #aaa;
  border-radius: 8px;
  font-size: 1.1rem;
  width: 100%;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

/* Form Select Arrow Styles */
.bookingForm select::-ms-expand {
  display: none;
}

/* Form Select Scrollbar Styles */
.bookingForm select::-webkit-scrollbar {
  width: 8px;
}

.bookingForm select::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.bookingForm select::-webkit-scrollbar-thumb {
  background: #888;
}

.bookingForm select::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Form Heading Styles */
.bookingForm h2 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #444;
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form Label Styles */
.bookingForm label {
  font-weight: bold;
  margin-bottom: 0.7rem;
  color: #555;
}
/* Create Account Link Styles */
.bookingForm a {
  text-align: center;
  color: #007bff; /* Adjust link color */
  text-decoration: none; /* Remove underline */
  margin-top: 0.5rem; /* Adjust spacing between login button and link */
  transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Add transition effect */
  display: inline-block; /* Ensure block-level behavior */
  padding: 0.3rem 0.5rem; /* Add padding for better click target */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

.bookingForm a:hover {
  color: #007bff; /* Change link text color on hover */
  transform: translateY(-2px); /* Move the link slightly upwards on hover */
  color: #000000; /* Change link text color on hover */
  font-size: 1.1rem; /* Increase font size on hover */
  font-weight: bold; /* Increase font weight on hover */

}


/* Form Input & Textarea Styles */
.bookingForm input,
.bookingForm textarea {
  padding: 0.7rem;
  border: 2px solid #aaa;
  border-radius: 8px;
  font-size: 1.1rem;
  width: 100%;
  background-color: #fff;
}

/* Form Button Styles */
.bookingForm button {
  background-color: #0071c2;
  color: white;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
  width: 100%;
}

.bookingForm button:hover {
  background-color: #073251;
}

/* Form Heading Level 3 Styles */
.bookingForm h3 {
  margin-top: 0;
  color: #444;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

/* Form Paragraph Styles */
.bookingForm p {
  margin-bottom: 0;
  color: #777;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}


 /* Help Section Container Styles */
 .help-section-container {
  display: flex;
  flex-direction: column;
  gap: 2rem; /* Adjust the gap between help sections as needed */
  max-width: 800px; /* Limit the width for better readability */
  margin: 0 auto; /* Center the container */
 }

 
 
 /* Help Section Styles */
 .help-section {
  background-color: #ffffff; /* White background for contrast */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Increased padding for better spacing */
  max-width: 100%;
 }
 
 
 .help-section :hover  {
  color: #00689c;
   }


 .help-section h2, .help-section h3 {
  font-size: 2rem; /* Increased heading size for better visibility */
  margin-bottom: 1rem; /* Add spacing below heading */
  color: #333; /* Darker heading color for better contrast */
 }
 
 .help-section p {
  font-size: 1.2rem; /* Increased paragraph font size */
  color: #555; /* Adjust paragraph color */
  line-height: 1.6; /* Improve paragraph spacing */
 }
 
 .help-section ul {
  list-style-type: disc; /* Change list style */
  margin-left: 2rem; /* Add indentation to lists */
 }
 
 .help-section li {
  margin-bottom: 0.5rem; /* Adjust spacing between list items */
 }
 
 .help-section a {
  color: #007bff; /* Adjust link color */
  text-decoration: none; /* Remove underline */
 }
 
 .help-section a:hover {
  color: #0056b3; /* Adjust link hover color */
  text-decoration: underline; /* Add underline on hover */
 }
.qrCodeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust this value based on your layout needs */
 }
 
 
 /* Responsive Design */
 @media (max-width: 768px) {
  .help-section-container {
     padding: 1rem; /* Reduced padding for smaller screens */
  }
 
  .help-section h2, .help-section h3 {
     font-size: 1.5rem; /* Reduced heading size for smaller screens */
  }
 
  .help-section p {
     font-size: 1rem; /* Reduced paragraph font size for smaller screens */
  }
 }
 