/* reservationItem.css */

.reservationItem {
    background-color: #f8f8f8;
    border-radius:  10px;
    padding:  1rem;
    margin-bottom:  1rem;
    box-shadow:  0  2px  4px rgba(0,  0,  0,  0.1);
  }
  
  .reservationItem h3 {
    margin-top:  0;
    font-size:  1.25rem;
    font-weight: bold;
  }
  
  .reservationItem p {
    margin-bottom:  0.5rem;
  }
  